body {
    margin: 0;
    background-color: #eeeeee;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body * {
    box-sizing: border-box;
}

/* Dark mode styling */
body.dark-mode {
    background-color: #000000;
}

body.dark-mode nav {
    background-color: #303030;
    border-top: 1px solid #494949;
    border-bottom: 1px solid #494949;
}

.dark-mode {
    color: #ffffff;
}

body.dark-mode a:hover {
    filter: brightness(80%);
}

body.dark-mode #settings-btn {
    background-image: url(./images/settings-dark.png);
}

body.dark-mode #instructions-btn {
    border-color: #ffffff;
}

nav {
    background-color: #d0d0d0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    margin-bottom: 20px;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    transition: filter 0.2s ease-in;
}

a:hover {
    text-decoration: underline;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Navbar styling */
nav {
    position: relative;
    height: 48px;
}

nav > * {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

nav > h1 {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    user-select: none;
}

.nav-button {
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    transition: filter 0.2s ease-in;
}

.nav-button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

#settings-btn {
    border: none;
    right: 180px;
    width: 35px;
    height: 35px;
    background-image: url(./images/settings-light.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 84% auto;
}

#instructions-btn {
    border: 2px solid #000000;
    right: 140px;
    width: 30px;
    height: 30px;
    font-weight: bold;
}

#login-signup-nav {
    position: absolute;
    right: 10px;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
    opacity: 0;
    transition: visibility 0.3s ease-in opacity 0.3 ease-in;
}

/* Game styling */
select#anime-selector,
::picker(select) {
    appearance: base-select;
    color: #000000;
    background-color: #ffffff;
}

select#anime-selector:open::picker-icon {
    rotate: 180deg;
}

select#anime-selector {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid rgb(9, 71, 53);
    margin-bottom: 10px;
    border-radius: 6px;
    padding: 5px 8px;
    font: inherit;
    font-size: inherit;
    transition: rotate 0.4s ease-in-out;
}

option#anime-option {
    width: 300px;
    height: 40px;
    word-wrap: normal;
}

#anime-pic {
    display: block;
    height: 400px;
    width: auto;
}

#anime {
    margin-top: 10px;
    border-radius: 6px;
    padding: 4px;
    display: block;
}

/* Overlay styling */
#overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transition: visibility 0.3s ease-in opacity 0.3 ease-in;
}

.div-menu-container h1 {
    position: absolute;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 44px;
    border-bottom: 1px dotted #494949;
}

body.dark-mode .div-menu-container {
    background-color: #303030;
}

.div-menu-container {
    position: relative;
    background-color: #c0c0c0;
}

/* General form styling */
#form-container {
    border-radius: 20px;
    height: 500px;
    width: 420px;
}

#form-mode,
.field,
.field-error,
#form-submit,
#text-recommend,
#login-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#form-mode {
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 240px;
    border: 2px solid;
    border-radius: 20px;
}

#form-mode > p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    border-radius: 18px;
}

.selected {
    width: 60%;
}

.unselected {
    width: 40%;
}

#form-mode > p:first-child.selected {
    background-color: aqua;
}

#form-mode > p:last-child.selected {
    background-color: aqua;
}

.field,
.field-error,
#text-recommend {
    margin: 0;
    width: 240px;
}

.field {
    border-radius: 10px;
    padding: 3px 8px;
    height: 30px;
}

.field-error {
    color: red;
}

#form-submit {
    box-sizing: border-box;
    border-radius: 10px;
    bottom: 60px;
    height: 40px;
    width: 240px;
    transition: filter 0.2s ease;
}

#form-submit:hover {
    filter: brightness(80%);
    cursor: pointer;
}

#text-recommend {
    text-align: center;
    bottom: 24px;
}

#login-form, #signup-form {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Login form styling */
#login-logo {
    top: 160px;
    height: 80px;
    width: auto;
}

#login-form > #usernameError {
    top: 290px;
}

#login-form > #passwordError {
    top: 360px;
}

#login-form > [name="username"] {
    top: 255px;
}

#login-form > [name="password"] {
    top: 325px;
}

/* Sign Up form styling */
#signup-form > #usernameError {
    top: 208px;
}

#signup-form > #emailError {
    top: 268px;
}

#signup-form > #passwordError {
    top: 328px;
}

#signup-form > [name="username"] {
    top: 175px;
}

#signup-form > [name="email"] {
    top: 235px;
}

#signup-form > [name="password"] {
    top: 295px;
}

#signup-form > [name="confirmPassword"] {
    top: 355px;
}

/* Settings overlay styling */
#settings-container {
    height: 500px;
    width: 450px;
    border-radius: 20px;
}

#settings-container > * {
    position: absolute;
}

#settings-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 300px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.settings {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-name {
    position: relative;
    width: fit-content;
    font-size: 24px;
    margin: 0;
    cursor: default;
}

.setting-desc {
    position: absolute;
    font-size: 14px;
    top: 100%;
    left: 0;
    padding: 6px;
    border-radius: 10px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.2);
}

.setting-desc::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 20%;
    transform: translateX(-20%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
}

.setting-option {
    box-sizing: content-box;
    width: 80px;
    height: 40px;
    position: relative;
    border-radius: 24px;
    background-color: rgb(71, 9, 0);
    transition: background-color 0.2s ease-in-out;
    border: 1px solid black;
}

.setting-option-btn {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 24px;
    height: 40px;
    width: 50px;
    border: none;
    transition: transform 0.2s ease-in-out filter 0.2s ease;
}

.setting-option-btn:hover {
    cursor: pointer;
    filter: brightness(90%);
}

div.on {
    background-color: rgb(9, 71, 53);
}

button.on {
    transform: translateX(30px);
}

/* Instructions styling */
#instructions-container {
    height: 500px;
    width: 450px;
}